gradio 
gradio[oauth] 
requests 
pandas
langgraph
langchain-google-genai
langfuse
langchain-core
langchain
dotenv
langchain-community 
duckduckgo-search 
wikipedia
ddgs
arxiv
langsmith
langgraph-cli[inmem]
langchain-tavily
langchain-google-genai 
opencv-python